{% define config = {
    name: 'installment',
} %}

{% define data = {
    form: required,
} %}

{% block body %}
    <div id="payolutionInstallment">
        <div>
            <label>
                {{ 'payolutionInstallment.date_of_birth' | trans }}*
                {{ form_widget(data.form.date_of_birth, { 'attr': {'placeholder': 'payolutionInstallment.date_of_birth' | trans } }) }}
            </label>
            {{ form_errors(data.form.date_of_birth) }}
        </div>

        <div>
            <label>
                {{ 'payolutionInstallment.bank_account_holder' | trans }}*
                {{ form_widget(data.form.bank_account_holder, { 'attr': {'placeholder': 'payolutionInstallment.bank_account_holder' | trans } }) }}
            </label>
            {{ form_errors(data.form.bank_account_holder) }}
        </div>

        <div>
            <label>
                {{ 'payolutionInstallment.bank_account_iban' | trans }}*
                {{ form_widget(data.form.bank_account_iban, { 'attr': {'placeholder': 'payolutionInstallment.bank_account_iban' | trans } }) }}
            </label>
            {{ form_errors(data.form.bank_account_iban) }}
        </div>

        <div>
            <label>
                {{ 'payolutionInstallment.bank_account_bic' | trans }}*
                {{ form_widget(data.form.bank_account_bic, { 'attr': {'placeholder': 'payolutionInstallment.bank_account_bic' | trans } }) }}
            </label>
            {{ form_errors(data.form.bank_account_bic) }}
        </div>

        <div>
            <label>
                {{ 'payolutionInstallment.installment_payment_detail_index' | trans }}*
                {{ form_widget(data.form.installment_payment_detail_index, { 'attr': {'placeholder': 'payolutionInstallment.installment_payment_detail_index' | trans } }) }}
            </label>
            {{ form_errors(data.form.installment_payment_detail_index) }}
        </div>
    </div>
{% endblock %}
